if SHIELD_BUMBLEBEE_LEFT
 
config ZMK_KEYBOARD_NAME
    default "bumblebee"
 
config ZMK_SPLIT_ROLE_CENTRAL
    default y
 
endif
 
if SHIELD_BUMBLEBEE_LEFT || SHIELD_BUMBLEBEE_RIGHT
 
config ZMK_SPLIT
    default y
 
endif