config SHIELD_BUMBLEBEE_LEFT
    def_bool $(shields_list_contains,bumblebee_left)
    select SHIELD_BUMBLEBEE

config SHIELD_BUMBLEBEE_RIGHT
    def_bool $(shields_list_contains,bumblebee_right)
    select SHIELD_BUMBLEBEE